@page
@model Website.Pages.StepPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].DomainId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].Domain)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Step[0].Comments)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Step) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(model => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(model => item.Title)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Project)
            </td>
            <td>
                @Html.DisplayFor(model => item.DomainId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Domain)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                @Html.DisplayFor(model => item.Comments)
            </td>
            </tr>
}
    </tbody>
</table>
