@page
@model Website.Pages.Data.JobSkills.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobSkill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobSkill.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobSkill.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobSkill.Version)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobSkill.Version)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobSkill.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobSkill.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobSkill.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobSkill.Summary)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JobSkill.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
