@page
@model Website.Pages.Persons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <table class="table">
        <tr>
            <td>
                <div>
                    @if (!string.IsNullOrEmpty(Model.Person.ImageFilename))
                    {
                        <img width="200" src="~/Images/Persons/@Model.Person.ImageFilename" alt="Person Image" />
                    }
                </div>
            </td>
            <td>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Person.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Person.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Person.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Person.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Person.Company)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Person.Company)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Person.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Person.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Person.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Person.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Person.Notes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Person.Notes)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Person.ImageFilename)
                    </dt>
                    <dd class="col-sm-10" >
                        @Html.DisplayFor(model => model.Person.ImageFilename)
                    </dd>
                </dl>
            </td>

        </tr>

    </table>

    
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
