@page
@model Website.Pages.Resume.SkillsModel
<style>
    h1 {
        text-align: center
    }
    @@media print {
        .no-print, header, nav {
            display: none;
        }
    }
</style>

@{
    ViewData["Title"] = "Skills";
}

<p>
    Michael Aaronson
    <br />Michael@MichaelAaronson.com
    <br />027 242 0599
    <br />March 2026
    <br /><a href="javascript:window.print()" class="no-print">Save as PDF</a>
</p>

<h1>Skills</h1>

<p class="no-print">
    Sort by:
    <a asp-page="Skills" asp-route-sort="title"
       class="@(Model.CurrentSort == "title" ? "fw-bold" : "")">Name of skill</a> |  
    <a asp-page="Skills" asp-route-sort="count"
       class="@(Model.CurrentSort == "count" ? "fw-bold" : "")">Number of jobs</a> |
    <a asp-page="Skills" asp-route-sort="months"
       class="@(Model.CurrentSort == "months" ? "fw-bold" : "")">Length of experience</a>
</p>

@foreach (var item in Model.JobSkill)
{
    <div class="mb-2">
        <strong>@Html.DisplayFor(modelItem => item.Title)@if (!string.IsNullOrEmpty(item.Version)) { <text> (@item.Version)</text> }</strong>
        &mdash; @item.TotalCount job@(item.TotalCount != 1 ? "s" : ""),
        @if (item.TotalMonths >= 24)
        {
            var years = Math.Round(item.TotalMonths / 12.0);
            @($"{years} year{(years != 1 ? "s" : "")}")
        }
        else
        {
            @($"{item.TotalMonths} month{(item.TotalMonths != 1 ? "s" : "")}")
        }
        @if (!string.IsNullOrEmpty(item.Summary))
        {
        <text> &mdash; </text>
        @Html.DisplayFor(modelItem => item.Summary)
        }
    </div>
}